/* CSS declarations go here */
.header{
  background-color: rgb(25,46,114);
  height: 100px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white !important;
}
h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white !important;
}

h1 , h2 , h3 , h4, h5 ,h6{
  font-family: 'Lobster', cursive;
}

p, label, button{
  font-family: 'Open Sans', sans-serif;
}

#imagen{
   height: 400px;
   background-image: url('https://c1.staticflickr.com/1/710/23073639124_4b5e179ab4_b.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}

.amarilloClaro{
  background-color:rgb(244,223,73);
  color:rgb(25,46,114);
}

.amarillo{
  background-color:rgb(245,204,67);
  color:rgb(25,46,114);
}

#logo{
  height: 100px;
  width: 100px;
  position: fixed;
  padding: 10px;
      left:0;
      right:0;
      margin:auto;
}

#contact{
background-color: rgb(29,59,112);
height: 400px;
}

.flotante{
  padding: inherit;
  float: left;
  width: 150px;
  height: 35px;
}

.azulOscuro{
background-color: rgb(29,59,112);
}

.naranja{
  padding-bottom: 5px;
  float: left;
  text-align: center;
  background-color: rgb(242,157,53);
  height: 35px;
  width: 400px;
}

#selected{
  background-color: rgb(29,59,112);
}

h2{
  color: rgb(29,59,112);
}
img{
  position: relative;
}
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
