/* CSS declarations go here */
.header{
  background-color: rgb(25,46,114);
  height: 100px;
  position: absolute;
  width: 100%;
}
h1{
  text-align: center;
  font-style: normal;
  color: white !important;
}
#imagen{
  height: 500px;
  background-image: url('https://c2.staticflickr.com/4/3929/19158945206_86a95180c7_h.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}

h2{
  color: rgb(29,59,112);
}
img{
  position: relative;
}
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
